<h1>Bet home page</h1>
<% @bets.each do |p| %>
<%= p.challenge %>
<%= p.amount %>
<%= p.challenger %>
<%= p.challengee %>
<%= link_to "settle up", bet_path(p.id) %></br>
<% end %>

<h1>Place Another Bet</h1>
<%= link_to "index", new_bet_path %>

<h1>Settle Bets Here</h1>
<%= link_to "bet", settle_bet_path %>