<%= form_tag 
<h1><%= @bet.challenger %> bet
<%= @bet.challengee %> 
<%= @bet.amount %> mother f'n bucks to 
<%= @bet.challenge %></h1>


<h1><%= @bet.challengee %> Won Settle the bet by paying cash with our app



<h1><%= @bet.challenger %> won and doesn't owe you shit</h1>


<%= link_to "settle_bet_path" %>

<iframe style="width: 120px; height: 33px" scrolling="no" frameborder="0" src="//platform.venmo.com/#payment-widget?recipient_id=1397129314566144218"></iframe>